<p id="notice"><%= notice %></p>

<p>
  <strong>Display text:</strong>
  <%= @question.display_text %>
</p>

<p>
  <strong>Question type:</strong>
  <%= @question.question_type %>
</p>

<p>
  <strong>Help text:</strong>
  <%= @question.help_text %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
