<%= form_for(@question_attachment) do |f| %>
  <% if @question_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_attachment.errors.count, "error") %> prohibited this question_attachment from being saved:</h2>

      <ul>
      <% @question_attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :file_upload_id %><br>
    <%= f.number_field :file_upload_id %>
  </div>
  <div class="field">
    <%= f.label :display_order %><br>
    <%= f.number_field :display_order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
