<h1>Listing question_attachments</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>File upload</th>
      <th>Display order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_attachments.each do |question_attachment| %>
      <tr>
        <td><%= question_attachment.question_id %></td>
        <td><%= question_attachment.file_upload_id %></td>
        <td><%= question_attachment.display_order %></td>
        <td><%= link_to 'Show', question_attachment %></td>
        <td><%= link_to 'Edit', edit_question_attachment_path(question_attachment) %></td>
        <td><%= link_to 'Destroy', question_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question attachment', new_question_attachment_path %>
