<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question_attachment.question_id %>
</p>

<p>
  <strong>File upload:</strong>
  <%= @question_attachment.file_upload_id %>
</p>

<p>
  <strong>Display order:</strong>
  <%= @question_attachment.display_order %>
</p>

<%= link_to 'Edit', edit_question_attachment_path(@question_attachment) %> |
<%= link_to 'Back', question_attachments_path %>
