<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @file_upload.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @file_upload.name %>
</p>

<%= link_to 'Edit', edit_file_upload_path(@file_upload) %> |
<%= link_to 'Back', file_uploads_path %>
