<%= form_for(@submission_question) do |f| %>
  <% if @submission_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission_question.errors.count, "error") %> prohibited this submission_question from being saved:</h2>

      <ul>
      <% @submission_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :submission_id %><br>
    <%= f.number_field :submission_id %>
  </div>
  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
