<h1>Listing submission_questions</h1>

<table>
  <thead>
    <tr>
      <th>Submission</th>
      <th>Question</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submission_questions.each do |submission_question| %>
      <tr>
        <td><%= submission_question.submission_id %></td>
        <td><%= submission_question.question_id %></td>
        <td><%= submission_question.position %></td>
        <td><%= link_to 'Show', submission_question %></td>
        <td><%= link_to 'Edit', edit_submission_question_path(submission_question) %></td>
        <td><%= link_to 'Destroy', submission_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submission question', new_submission_question_path %>
