<p id="notice"><%= notice %></p>

<p>
  <strong>Submission:</strong>
  <%= @submission_question.submission_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @submission_question.question_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @submission_question.position %>
</p>

<%= link_to 'Edit', edit_submission_question_path(@submission_question) %> |
<%= link_to 'Back', submission_questions_path %>
